*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1040px;
    font-family: 'Montserrat', 'Salsa';
    background-color: #FAFAFA;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}

header, nav {
    background-color: #273E47;
    font-family: 'Acme', sans-serif;
}


.menuList a:hover{
    background-color: #BD632F;
}

.menuList li{
    list-style: none;
}

.menuList li.active {
    background-color: #463F3A;
    
}

.menuList a{
    display: block;
    padding: 1.2rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.join, .top a {
    background-color: #BD632F;
    padding: 5px;
    border-radius: 5px;
}

.join:hover, .top a:hover {
    background-color: #463F3A;
}

.login {
    color: #FAFAFA;
}

.login:hover {
    color: #D8C99B;
}

.logo{
    width: 8rem;
}

.login, .join, footer p {
    padding-left: 20px;
    padding-right: 20px;
} /*check padding here*/

.logo-link {
    margin-right: auto;
}

.hero section {
    padding: 1rem;
    text-align: left;
}

.hero a {
    color: #FAFAFA;
    background-color: #463F3A;
    text-align: center;
    border-radius: 7px;
    padding: 7px;
    display: block; /*work on this later*/
}

.hero-img {
    width: 95%;
    margin: 0 auto;
    border-radius: 20px;
}

.hero h1 {
    font-family: "Acme", "helvetica";
    font-size: 2.2rem;
}

.hero h3, .hero a, .top p, .cards p, .communityinfo{
    margin: 10px 0 0 0;
}

.hero a:hover {
    background-color: #D8C99B;
    color: #000;
}

.hero, .cards, .center, .info, #images-box{
    margin: 20px 0 40px 0;
}

.top {
    background-color: #463F3A;
    color: #FAFAFA;
    padding: 20px 30px 40px 30px;
}

.top p {
    text-align: left;
}

.top img {
    width: 100%;
    border-radius: 20px;
}

.top h2, .cards h2, .center h2, #images-box h2 {
    font-family: "Acme", "helvetica";
    font-size: 1.9rem;
}

.card1 img, .card2 img, .card3 img {
    width: 3rem;
}

.cards div{
    padding: 30px;
}

.center {
    height: 8rem;
    text-align: left;
    padding: 30px;
    /*background-image: url(../images/kente-pattern.jpg);*/
}

.center a, #images-box a {
    color: #FAFAFA;
    background-color: #463F3A;
    padding: .7rem;
    border-radius: 10px;
}

.info {
    padding: 30px;
}

.info section {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #D8C99B;
}

#images-box {
    padding: 30px;
}

.upcoming h2, .communityinfo h2{
    padding: .8rem;
    background-color: #273E47;
    color: #FAFAFA;
}

.upcoming a {
    color: #000;
}

.info div {
    padding: 15px;
}

#socials img {
    width: 20px;
    padding-right: 2px;
}

footer {
    background-color: #273E47;
    color: #FAFAFA;
}

