*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    max-width: 940px;
    text-align: center;
}

body.dark {
    background-color: #000;
    color:#fff;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    
}

.hero div {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(8, 7, 71, 0.5);
    padding: 1rem;
    font-size: 1rem;
}

header, .card1 h2, .card2 h2, footer {
    background-color: #19535F;
    color: #fff;
    padding: 1rem;
    
}

header {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 1rem;
} 

#darkBtn {
    width: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
}

#myimg {
    width: 20%;
}

nav {
    background-color: #465362;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw; 
}

#myButton::before {
    content: "\2630";
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open { 
    display: block;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    background-color: #0B7A75;
}

nav ul li, section ul li {
    list-style: none;
}

li.active {
    background-color: #7B2D26;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 1rem;
}

main h1 {
    text-decoration: underline;
    font-size: 25px;    
}

.card1 {
    border: 1px solid #272626;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px #343333;
    background-color:#564138;
}

.card2 {
    border: 1px solid #272626;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px #343333;
}

.card2 div {
    padding: 1rem;
}

#description {
    text-transform: capitalize;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.card1 ul {
    text-align: left;
    padding: 1rem;
}

.card1 ul li {
    color: #fff;
}

.card1 a{
    text-decoration: none;
    color: #fff;
}

.card1 p {
    color: #fff;
    padding-top: 1rem;
}

.lastModified {
    color: yellow;
}

iframe {
    width: 100%;
    height: auto;
    display: block;
    animation: fade 15s;
    margin-bottom: 10px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}